{% include 'header.html' %}
<br>
<a href="{{url_for('create')}}" class="btn btn-success">Add new employee</a>
<br>
<br>
<table class="table table-light">
  <thead class="thead-light">
    <tr>
      <th>#</th>
      <th>Photo</th>
      <th>Name</th>
      <th>Mail</th>
      <th>Accions</th>
    </tr>
  </thead>
  <tbody>
    {% for employee in employees %}
    <tr>
      <td>
        {{employee[0]}}
      </td>
      <td><img class="img-thumbnail" width="100" src="uploads/{{employee[3]}}" alt=""></td>
      <td>{{employee[1]}}</td>
      <td>{{employee[2]}}</td>
      <td>
        <a href="/edit/{{employee[0]}}" class="btn btn-warning">Edit </a>|
        <a href="/destroy/{{employee[0]}}" onclick="return confirm('Are you sure to delete the employee: {{employee[1]}}')" class="btn btn-danger">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% include 'footer.html' %}
